.wrp_container {
    display: flex;
}

.wrp_container__list {
    display: flex;
    min-height: 200px;
    flex: 1;
}

.wrp_container__list:nth-child(odd) {
    background: mediumaquamarine;
}
.wrp_container__list:nth-child(even) {
    background: paleturquoise;
}

.draggable_item {
    display: block;
    width: 100px;
    height: 100px;
    background: plum;
    border: 1px solid rgb(73, 71, 71);
    margin: 2px;
}